In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
shp = gpd.read_file('Detroit_Tri_county.shp')

In [3]:
shp.head()

,LINK,NT,GEOID,HU_C,HU_I_50K,HU_I_75K,HU_I_150K,HU_I_M150K,HU_V_K,HU_VQ_K,H_EM_R,geometry
0,099210000,3,26099210000,1476,5,3,6,1,203.9,142.9,58.3,"POLYGON ((-82.86358 42.82134, -82.86359 42.821..."
1,099212000,3,26099212000,1864,6,4,7,1,196.2,143.4,58.5,"POLYGON ((-82.98035 42.81107, -82.98049 42.815..."
2,099214000,3,26099214000,992,6,1,3,1,181.3,29.2,55.2,"POLYGON ((-83.01996 42.82276, -83.01998 42.823..."
3,099214500,3,26099214500,1322,1,4,5,3,289.3,196.9,56.8,"POLYGON ((-83.01834 42.80995, -83.01941 42.809..."
4,099211000,3,26099211000,2412,11,6,7,1,150.2,107.5,56,"POLYGON ((-82.75325 42.79805, -82.75315 42.798..."

In [16]:
shp.dtypes

LINK            object
NT               int64
GEOID            int64
HU_C             int64
HU_I_50K         int64
HU_I_75K         int64
HU_I_150K        int64
HU_I_M150K       int64
HU_V_K         float64
HU_VQ_K        float64
H_EM_R         float64
geometry      geometry
dtype: object

In [6]:
shp['H_EM_R'] = shp['H_EM_R'].astype(float)

In [15]:
shp['HU_I_75K'] = shp['HU_I_75K'].astype(int)
shp['HU_I_150K'] = shp['HU_I_150K'].astype(int)

In [17]:
shp.to_file('Detroit_Tri_county.shp',driver ='ESRI Shapefile')